<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Entry Form</title>
    <link href="/static/style1.css" rel="stylesheet" />
</head>
<h1>Bahnapp</h1>
<body>
    <!-- <form id="dataForm"> -->
    <!--     <label for="name">Name:</label> -->
    <!--     <input type="text" id="name" name="name" required><br><br> -->
    <!--     <label for="age">Age:</label> -->
    <!--     <input type="text" id="age" name="age" required><br><br> -->
    <!-- </form> -->
    <table id="jsonTable">
    <thead>
        <tr>
            <th>Line</th>
            <th>Departure</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    <script src="/static/index.js"></script>
</body>
</html>



